h1 {
    text-align: center;
}
.pilkasfonas {
    background-color: #ebebe0;
}

.aukstis-100 {
    height: 100px;
}
.aukstis-200 {
    height: 200px;
}
.aukstis-300 {
    height: 300px;
}
.aukstis-500 {
    height: 500px;
}
.bg-foto {
    background-image: url('../img/vanduo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}



@media (max-width: 1040px) {
    .slepti {
        display: none;}
}
